  <%= simple_form_for(@user_task, remote: true) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= f.input :description, as: :text, placeholder: "Make Grocerys" %>
      <%# f.input :due, as: :string, class: "datepicker_edit", placeholder: "Today" %>
      <input name="user_task[due]" remote="true" class="datepicker_edit form-control form-group" placeholder="New Date" >
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
