<div class="row">
  <div class="col-md-offset-1">
    <div class="col-md-10">

      <div class="well">

	<span class="task">
	  <%= link_to user_task.description, 
		      user_task,
		      remote: true,
		      method: :delete,
		      data: { confirm: "Are you sure?" } %>
	</span>




	<%= link_to fa_icon("pencil", text: "Edit"), 
		    edit_user_task_path(user_task), 
		    remote: true %>


	<span class="pull-right">
	  <%= user_task.due.stamp("Monday, June 1st, 2000") %>
	</span>
	<div id="task-form"></div>
    </div>
    </div>
  </div>
</div>

